# This is a basic workflow to help you get started with Actions

name: Copyright Addition
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  - pull_request
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout of Repository
      uses: actions/checkout@v2
    - name: Add Copyright
      run: |
        chmod a+x "/home/runner/work/ViralManager/ViralManager/.github/workflows/addcopyright.sh"
        find "/home/runner/work/ViralManager/ViralManager" -type d -name "node_modules" -prune -o -name "*.js" -print0 | xargs -0 /home/runner/work/ViralManager/ViralManager/.github/workflows/addcopyright.sh
        find "/home/runner/work/ViralManager/ViralManager" -type d -name "test" -prune -o -name "*.java" -print0 | xargs -0 /home/runner/work/ViralManager/ViralManager/.github/workflows/addcopyright.sh
        find "/home/runner/work/ViralManager/ViralManager" -type d -name "test" -prune -o -name "*.css" -print0 | xargs -0 /home/runner/work/ViralManager/ViralManager/.github/workflows/addcopyright.sh
    # Checking out the repository which is to be actioned
    # - uses: actions/checkout@v2
    # Implementing action on repository
    # - uses: VinnyBabuManjaly/copyright-action@v1.0.0
    #  with:
    #    CopyrightString: 'Copyright (c) 2021 Viral Innovation'
    #    FileType: '.java, .txt, .vue'
    #    Path: ''
    #    IgnorePath: ''
    # Creates pull request with all changes in file
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        title: '[Actions] Added Copyright'
        commit-message: Added Copyrght
        branch: actions/copyright
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        signoff: false
        # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # BRANCH_PREFIX: ${GITHUB_REF##*/}
        # PULL_REQUEST_BRANCH: "main"
        reviewers: AwesomeDude091
        draft: false
        labels: |
            copyright
            automated pr
